
{#% load bootstrap3 %#}
                    {#% bootstrap_pagination page_obj extra=request.GET.urlencode %#}

{% load tags %}

                    {% if is_paginated %}

                        {% if request.GET.s %}
                            {% add "s=" request.GET.s as s %}
                        {% endif %}

                        {% if u_args %}{% firstof u_args|join:"&" or s as url_args %}{% endif %}
                        {% firstof view.page_kwarg 'page' as page %}

                        {% if paginator.cursor %}
                            {% add view.cursor_kwargs "=" page_obj|encode_cursor as cursor %}
                        {% endif %}

                        <ul class="pagination pull-right">
                            {% if page_obj.has_previous %}
                                    <li><a href="?&{{ url_args }}" title="第一页">«</a></li>
                                    <li><a href="?{{ page }}={{ page_obj.previous_page_number }}&{{ url_args }}&{{ cursor }}" title="上一页">‹</a></li>
                            {% endif %}

                            {% for p in page_range %}
                                {% if page_obj.number == p %}
                                    <li class="active"><span>{{ p }}</span></li>
                                {% else %}
                                    <li><a href="?{{ page }}={{ p }}&{{ url_args }}&{{ cursor }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                    <li><a href="?{{ page }}={{ page_obj.next_page_number }}&{{ url_args }}&{{ cursor }}" title="下一页">›</a></li>
                                {% if paginator.cursor %}
                                    <!-- 普通分页SQL偏移查询方式(LIMIT/OFFSET)对超大数据支持不好，改用游标分页 -->
                                    <li>
                                        <a href="?{{ page }}={{ paginator.num_pages }}&{{ url_args }}&{{ cursor }}" title="...">{% if paginator.count_end %}»{% else %}-»-{% endif %}</a>
                                    </li>
                                {% else %}
                                    <li><a href="?{{ page }}=last&{{ url_args }}" title="最末页">»</a></li>
                                    <li><span>共{{ paginator.num_pages }}页 {{ paginator.count }}条</span></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    {% endif %}

<!-- window.history.pushState(null, null, page_url) -->
