{% extends "generic/_list.html" %}


{% block add_table_th %}
                                    <th>m</th>
                                    <th>oo</th>
                                    <th>跨库反向外键</th>
{% endblock %}



{% block add_table_td %}
                                                <td>
                                                    {% for o in object.m2t %}{{ o.m }}</br>{% endfor %}
                                                </td>
                                                <td>
                                                    {{ object.one }}
                                                </td>
                                                <td>
                                                    {% for o in object.middle %}{{ o }}</br>{% endfor %}
                                                </td>
{% endblock %}

