{% extends "generic/_list.html" %}

{% load tags %}


                        {% block form_ext %}
                            <select class="input-sm" id="select_pagesize" onchange="window.location.href='?ordering='+this.options[this.selectedIndex].text">

                                <option>修改排序</option>
                                    <option>-id</option>
                                    <option>-p,id</option>
                                    <option>p,-id</option>
                                    <option>status,asset_type</option>
                                    <option>-status,-asset_type</option>
                                    <option>name</option>
                                    <option>p,name</option>
                                    <option>-p,-name</option>
                                    <option>p,status,asset_type,name</option>
                                    <option>asset_type,name</option>
                                    <option>p,remark</option>
                                    <option>-p,-remark</option>
                                    <option>status,name</option>
                                    <option>user_id</option>
                            </select>

                        {% endblock %}
